:root {
    --background: #305367;
    color: #b6b6b6;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: var(--background);
    color: #efefef;
}

header {
    background: var(--background);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background);
    color: white;
    flex-direction: column;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 400;
    border: solid 5px #4bab76;
}

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:  100px 100px 100px;
    width: 300px;
    position: relative;
}

.message {
    position: absolute;

    background: rgb(0 0 0 / 50%);
    padding: 20px;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    transition: top ease-in-out .5s;
}

.message.hide {
    top: -1000px;
    transition: top ease-in-out .5s;
}

.message button {
    padding: 10px;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.message .nav {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.message div{
    margin: 10px 0;
}

button {
    padding: 10px;
    background: #fff;
    border: solid 1px #333;
    color: #333;
    border-radius: 5px;
    box-shadow: #30425d 5px 5px 3px 1px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

button:hover {
    box-shadow: #30425d 7px 7px 5px 2px;
    cursor: pointer;
}

.game-link-wrapper{
    margin: 10px 0;
}
.link{
    color: white;
}
.link-wrapper{
    padding: 20px;
    border: solid 1px white;
    border-radius: 5px;
    margin: 20px 0;
}

input[type=text]{
    padding: 5px 10px;
    width: 300px;
    text-overflow: ellipsis;
    margin: 5px 0;
}

.line-wrapper{
    margin: 20px 0;
}